{
  "env": {
    "cjs": {
      "presets": [
        "react",
        "env"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "umd": {
      "presets": [
        "react",
        ["env", {
          "modules": false,
          "loose": true
        }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "external-helpers"
      ]
    }
  }
}
