{
  "env": {
    "production": {
      "presets": [
        "react",
        ["env", {
          "modules": false
        }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "external-helpers"
      ]
    },
    "development": {
      "presets": [
        "react",
        ["env", {
          "modules": false
        }]
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "external-helpers"
      ]
    },
    "test": {
      "presets": [
        "react",
        "env"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
